* {
  font-family: 'Lora','Helvetica',serif;
  color: black;
}

.header {
  text-align: left;
  vertical-align: center;
  padding-left: 2em;
  padding-right: 2em;
}

.headertext {
  font-size:80px;
  line-height:100px;
  font-family: 'Titillium Web', sans-serif;
}

.headerlogo {
  float: left;
  padding-right: 10px;
}

body {background-color: #FFFFFF;}

#logo {
  height:200px;
  max-width: 100%;
}

a {
  /*color: #3b8bba;*/
  color: #0000AA;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
a:visited {
  /*color: #265778;*/
  color: #4400AA;
}

.small-print {
  font-size: 0.8em;
  margin: 0.6em;
}

.post-meta {
  font-size: 90%;
}

article > footer {
  text-align: right;
}

.prev-next-post {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.prev-next-post .prev {
  float: left;
  text-align: left;
  overflow: hidden;
}

.prev-next-post .next {
  float: right;
  text-align: right;
  overflow: hidden;
}

i {
  display: inline-block;
  margin-right: 0.2em;
}

.pagination {
  text-align: center;
}

.content {
  text-transform: none;
  background: transparent;
  text-decoration: none;
  margin: 0.5em 0;
  padding-left: 2em;
  padding-right: 2em;
}
h1,h2,h3,h4 {
  text-align: left;
}
.authors {
  font-size: 0.85em;
}
.bib {
}

.headshotbox  {
  width: 200px;
  height: 270px;
  overflow: hidden;
}



.headshotboxsingle  {
  width: 200px;
  height: 270px;
  overflow: hidden;
  float:left;
  padding: 20px;
}

.personboxsingle {
  margin: 10px;
  padding: 10px;
}

.personheadersingle {
  padding: 20px;
  font-size: 24px;
  line-height: 48px;
}

.personname  {
  position: relative;
  top: -90px;
  color: #3b8bba;
  background-color: yellow;
  padding-left: 5px;
}

.headshot, .projectshot {
  width: 200px;
  border-radius: 30px;
}

.projectname  {
  position: relative;
  top: -75px;
  color: #3b8bba;
  background-color: yellow;
  padding-left: 5px;
}

.projectshotbox  {
  width: 200px;
  height: 150px;
  overflow: hidden;
}

.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.6em;
}


.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #888;
}


@media (min-width: 32em) {
  #layout {
    padding-left: 150px;
    left: 0;
  }

  #layout.active  {
    left: 150px;
  }
}

@media (max-width: 32em) {
  .headertext {
    font-size:50px;
    line-height:60px;
  }
  #layout.active {
    position: relative;
    left: 150px;
  }
}

h3 {
  font-size: 1.5em;
}
