/*.reel article {
	height: 474px;
}

.spacingBox {
	height: 200px;
}*/

.4u header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.contact ul {
	padding: 0.35em 0.75em 0.35em 2em;
}